:root {
  --primary-bg-color:#000000;
  --primary-color: #ffffff; 
  --secondary-color: #747474;
  --accent-color: #aa0000; 
  --heading-font: "Staatliches", sans-serif;
}

.secondary-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-bg-color);
}

.page-header{
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.page-header h1{
    font-family: var(--heading-font);
    font-weight: 400;
    font-style: normal;
    font-size: 15vw;
    color: var(--primary-color);
}

.team-wrapper{
    min-height: 100vh;
    scroll-snap-align: start;
    margin-bottom: 100px;
}

.main-team{
    max-width: 1100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 50px auto;
}

.main-team-wrapper{
    max-width: 1100px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 50px auto;
}

.main-team-wrapper.reverse{
    flex-direction: row-reverse;
}


.team-desc{
    flex: 1;
}
.team-desc h1{
    color: var(--accent-color);
}.team-desc h2{
    color: var(--primary-color);
    margin: 10px 0;
}
.team-desc p{
    color: var(--primary-color);
    font-size: 16px;
    line-height: 1.6;
}
.main-team-wrapper img{
    width: 300px;
    height: auto;
    display: block;
    border-radius: 50px 0 50px 0;
}

.employees{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    margin: 50px 0;
}

.employee{
    display: block;
    text-align: center;
}
.employee img{
    border-radius: 50px 0 50px 0;
    width: 200px;
    margin-bottom: 20px;
}
.employee h2{
    font-size: 1.5rem;
    color: var(--accent-color);
}
.employee h3{
    font-size: 1rem;
    color: var(--primary-color);
    margin-top: 10px;
}


/* Mobile Responsive */

@media (max-width: 768px) {
  .main-team-wrapper,
  .main-team-wrapper.reverse {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .main-team-wrapper img{
    width: 200px;
  }

  .team-desc h1{
    font-size: 1.5rem;
  }
  .team-desc h2{
    font-size: 1.2rem;
  }
  .team-desc p{
    font-size: .8rem;
  }

  .employees{
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
  }

  .employee img{
    width: 150px;
  }

  .employee h2{
    font-size: 1rem;
  }
  .employee h3{
    font-size: 0.8rem;
  }
}


.team-header{
    background: url(../img/team/team-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.team-header::before{
    content: '';
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
.team-header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, #0000)
}


.adv-wrapper,
.event-wrapper,
.public-wrapper,
.branded-wrapper,
.political-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 200px;
    scroll-snap-align: start;
    max-width: 1100px;
}

.adv-intro,
.event-intro,
.public-intro,
.branded-intro,
.political-intro{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
    color: var(--primary-color);
    line-height: 1.5; 
}

.adv-ask,
.event-ask,
.public-ask,
.branded-ask,
.political-ask{
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 200px;
}

.adv-images,
.event-images,
.public-images,
.branded-images,
.political-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 10px;
}

.adv-item,
.event-item,
.branded-item,
.political-item{
  overflow: hidden;
  border-radius: 12px;
}

.adv-images img,
.event-images img,
.branded-images img,
.political-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    scale: 1;
    transition: 0.5s ease-in
}

.adv-images img:hover,
.event-images img:hover,
.branded-images img:hover,
.political-images img:hover{
    scale: 1.1;
}












.tall{
    grid-row: span 2;
}
.big{
    grid-column: span 2;
    grid-row: span 2;
}
.wide{
    grid-column: span 2;
}


@media (max-width: 768px) {
    .adv-wrapper,
    .event-wrapper,
    .public-wrapper,
    .branded-wrapper,
    .political-wrapper{
        padding: 20px;
    }
    .wide,
    .big {
        grid-column: span 1;
    }
}